
 <ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
      
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </a>
    
      <ul   class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li routerLinkActive="bg-info"  routerLink="/category/{{temp.id}}" *ngFor="let temp of cate "  class="dropdown-item" href="#"><i class="fas {{temp.logo}}"></i>  <a >{{temp.name}}</a></li>
        
      </ul>    

    </li>
</ul>








  <!--
 <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  -->
 